.App {
  text-align: center;
}

.text-color{
  color: white;
}

h4{
  padding: 30px;
  max-width: 700px;
  margin: 30px auto;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fondo {
  background-image: url('/public/images/backgnd.jpeg'); /* Background image */
  background-size: cover; /* Stretch background image */
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-attachment: fixed; /* Fix background during scroll */
  background-color: rgba(0, 0, 0, 0.5); /* Fallback color with transparency */
  background-blend-mode: darken; /* Blend mode for background */
}
