.logo {
    border-radius: 50%; /* Circular logo */
    max-width: 100px; /* Logo width */
    height: auto; /* Automatic height */
    margin: 15px; /* Right margin */
    transition: transform 0.3s ease; /* Transition effect on hover */
}

.titles {
    color: black !important;
}

.background {
    background-color: #B6D7A8; /* Dark background color */
    max-width: 90%;
}

.nav{
    color: black;
}