<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>EcoWeb</h5>
                <p>Promoviendo la sostenibilidad y el cuidado del medio ambiente.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <a href="#inicio" class="text-white">Volver al inicio</a>
            </div>
        </div>
        <div class="text-center mt-3">
            <p>&copy; 2024 EcoWeb. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>

</body>
</html>